@model ResetPasswordViewModel
@{
    Layout = null;
}

<div class="contact-page my-4">
    <span class=" text-center alert-success" id="password-reset-success" style="display: none;"></span>
    <span class=" text-center alert-danger" id="password-reset-fail" style="display: none;"></span>

    <form class="contact-form ms-0" id="password-reset-form" asp-controller="User" asp-action="ResetPassword" onsubmit="return jQueryAjaxPost(this);">
        <div>
            <label class="fw-bold" asp-for="OldPassword"></label>
            <input asp-for="OldPassword" placeholder="Current Password" />
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div> <br />
        <div>
            <label class="fw-bold" asp-for="Password"></label>
            <input asp-for="Password" placeholder="New Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div> <br />
        <div>
            <label class="fw-bold" asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div> <br />
        <div>
            <button class="button" type="submit">Save</button>
        </div>
    </form>
</div>

<!-- jQuery Validation library-->
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>