@model ForgotPasswordViewModel
@{
    Layout = "../Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Helperland - Email Confirmation";
}

<div class="">
    <div class="Modal" style="display:block; top: 50%; visibility: visible; opacity: 1;">
            <h4 class="modal-title">Reset Password</h4>
            <span class="d-block text-center text-danger" id="error"></span>
            
            <form class="" asp-controller="Register" asp-action="ResetPassword" onsubmit="return jQueryAjaxPost(this);">
                <input type="hidden" asp-for="Token" />
                <div>
                    <img src="~/images/lock.png" style="top:50%; " />
                    <label class="fw-bold" asp-for="Password"></label>
                    <input asp-for="Password" />
                </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                <div>
                    <img src="~/images/lock.png" style="top:50%; " />
                    <label class="fw-bold" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <button class="button" type="submit">Save</button>
            </form>
            <div id="reset-password" class="text-primary text-center" style="display:none; padding: 10px; border: 1px solid blue;">Your password has been reset successfully, <br /><a class="fw-bold redirect-to-login" id="hiddenButton" style="border: none !important; color: #0c8fa5; ">Click here</a> to LogIn</div>
    </div>
</div>