@model UserViewModel
@{ 
    ViewData["Title"] = "Helperland - SP Register";
    ViewData["Header"] = "Sliding_Header";
}
<!--<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Helperland - Service Provider</title>-->

        <!-- Link for fav icon-->
        <!--<link href="~/images/favicon_img.png" rel="shortcut icon" />-->

        <!-- bootstrap css bundle -->
        <!--<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
        <!-- custom CSS -->
        <!--<link href="~/css/site2.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" />
    </head>

<body>-->

    <!-- header + navbar -->
    <!--<header class="header service-provider-header" id="header">
        <nav class="navbar navbar-expand-lg">-->
            <!-- Logo -->
            <!--<a class="navbar-brand logo" asp-controller="Home">
                <img src="~/images/white-logo-transparent-background.png" alt="logo">
            </a>-->

            <!-- mobile menu collapse-->
            <!--<button class="menu-toggler">-->
                <!-- active will be added on mobile view-->
                <!--<span></span>
                <span></span>
                <span></span>
            </button>-->

            <!-- navbar content -->
            <!--<div class="custom-navbar-menu navbar-collapse main-menu" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active"><a class="nav-link button" href="#">Book a Cleaner</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Prices">Prices</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Our Guarantee</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link button" href="#">Login</a></li>
                    <li class="nav-item"><a class="nav-link button active" asp-controller="Register" asp-action="Sp_Register">Become a helper</a></li>

                    <li class="nav-item dropdown fleg">
                        <a class="nav-link nav-link2" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/flag.png" alt="logo">
                            <img src="~/images/keyboard-right-arrow-button.png" alt="logo">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/images/flag.png" alt="logo">
                                    India
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/images/flag.png" alt="logo">
                                    USA
                                </a>
                            </li>-->
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <!--<li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/images/flag.png" alt="logo">
                                    UK
                                </a>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <span class="mobile-menu-items">
                        <div class="media-icons">
                            <img src="~/images/facebook-mobile-menu.png" alt="" class="mx-2">
                            <img src="~/images/instagram-mobile-menu.png" alt="" class="mx-2">
                        </div>
                    </span>
                </ul>
            </div>
        </nav>
    </header>-->

    <div class="register-now px-2">
        <div class="form">
            <div class="form-title">Register Now!</div>
            @if (ViewBag.userExist == true)
            {
                <div class="alert-danger alert-dismissible contact-form my-3">Oops!! User with this Email already exist <br /> You can try using new Email address</div>
            }
        <form asp-controller="Register" class="contact-form" asp-action="Index" method="post">
            <input type="hidden" asp-for="UserTypeId" value="2" />
            <div class=""><input asp-for="FirstName"><span class="text-danger" asp-validation-for="FirstName"></span></div>
            <div class=""><input asp-for="LastName"><span class="text-danger" asp-validation-for="LastName"></span></div>
            <div class=""><input asp-for="Email"><span class="text-danger" asp-validation-for="Email"></span></div>
            <div>
                <div class="mobile">
                    <span class="country-code">+49</span><input asp-for="Mobile">
                </div><span class="text-danger" asp-validation-for="Mobile"></span>
            </div>
            <div class=""><input asp-for="Password"><span class="text-danger" asp-validation-for="Password"></span></div>
            <div class=""><input asp-for="ConfirmPassword"><span class="text-danger" asp-validation-for="ConfirmPassword"></span></div>
            <div class=""><input type="checkbox" name="sendme" id="newsletter">
                <label for="newsletter">Send me newsletter from Helperland</label>
            </div>
            <div class="">
                <input type="checkbox" name="terms" id="term1" required>
                <label for="term1">
                    I accept <a href="" class="terms">
                        terms and
                        conditions
                    </a> & <a href="" class="terms">privacy Policy</a>
                </label>
            </div>
            <img src="~/images/layer-20.png" alt="" class="mt-3 img-fluid">
            <div class="submit d-flex justify-content-center">
                <button type="submit" class="button ">
                    Get Started <img src="~/images/shape-2.svg" alt="">
                </button>
            </div>
        </form>
        </div>

        <div class="down-arrow">
            <a href="#sp"><img src="~/images/group-18_5.png" alt=""></a>
        </div>
    </div>

    <div class="service-provider my-3" id="sp">
        <div class="container-fluid">
            <div class="register-now-content">
                <h1 class="title">How it works</h1>
                <div class="how-it-works">
                    <div class="d-flex justify-md-content-between justify-content-center align-items-center flex-md-nowrap flex-wrap-reverse">
                        <div class="text-content">
                            <div class="heading">Register yourself</div>
                            <p class="text">
                                Provide your basic information to register
                                yourself as a service provider.
                            </p>
                            <a href="">
                                <p>
                                    Read more <img src="~/images/shape-2.png" alt="" height="9px" width="29px"
                                                   class="mx-2">
                                </p>
                            </a>
                        </div>
                        <div class="img">
                            <img src="~/images/home1.png" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-md-content-between justify-content-center align-items-center flex-md-nowrap flex-wrap">
                        <div class="img mx-md-5">
                            <img src="~/images/home2.png" alt="">
                        </div>
                        <div class=" text-content">
                            <div class="heading">Get service requests</div>
                            <p class="text">
                                You will get service requests from
                                customes depend on service area and profile.
                            </p>
                            <a href="">
                                <p>
                                    Read more <img src="~/images/shape-2.png" alt="" height="9px" width="29px"
                                                   class="mx-2">
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-md-content-between justify-content-center align-items-center flex-md-nowrap flex-wrap-reverse">
                        <div class="text-content">
                            <div class="heading">Complete service</div>
                            <p class="text">
                                Accept service requests from your customers
                                and complete your work.
                            </p>
                            <a href="">
                                <p class="mb-0">
                                    Read more <img src="~/images/shape-2.png" alt="" height="9px" width="29px"
                                                   class="mx-2">
                                </p>
                            </a>
                        </div>
                        <div class="img">
                            <img src="~/images/home3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NEWSLETTER area-->
    <!--<div class="newsletter" id="newsletter">
        <div class="container-fluid d-flex justify-content-between pb-5">
            <div class="content  order-sm-2 order-1">
                <h2 class="small-title text-center py-1">GET OUR NEWSLETTER</h2>
                <form action="#" method="post" class="text-center">
                    <input type="email" name="" id="" placeholder="YOUR EMAIL">
                    <button type="submit" class="my-2 mx-2">Submit</button>
                </form>
            </div>

        </div>
    </div>-->

    <!-- FOOTER area -->
    <!--<div class="footer px-2" id="footer">
        <div class="container d-flex flex-wrap justify-content-sm-center justify-content-md-between align-items-center py-4">
            <a asp-controller="Home" class="footer-logo">
                <img src="~/images/white-logo-transparent-background.png"
                     alt="logo" class="logo">
            </a>
            <div class="links">
                <ul>
                    <a asp-controller="Home">
                    <li>HOME</li>
                    </a>
                    <a asp-controller="Home" asp-action="About">
                    <li>ABOUT</li>
                    </a>
                    <a href="">
                    <li>TESTIMONIALS</li>
                    </a>
                    <a asp-controller="Home" asp-action="FAQs">
                    <li>FAQS</li>
                    </a>
                    <a href="">
                    <li>INSURANCE POLICY</li>
                    </a>
                    <a href="">
                    <li>IMPRESSUM</li>
                    </a>
                </ul>
            </div>
            <div class="media-icons">
                <img src="~/images/ic-facebook.png" alt="" class="mx-2">
                <img src="~/images/ic-instagram.png" alt="" class="mx-2">
            </div>
        </div>
        <hr class="divider container mx-auto">
        <div class="copy-rights d-flex justify-content-center py-3" id="copy-rights">
            <div>
               &copy; 2018 Helperland. All rights reserved. <a href="">Terms and Conditions</a> | <a href="">
                    Privacy
                    Policy
                </a>
            </div>
        </div>
    </div>-->

    <!-- bootstrap bundle JS -->
    <!--<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>-->

    <!-- jquery cdnjs -->
    <!--<script src="~/lib/jquery/jquery.min.js"></script>-->
    <!-- Custom Script file -->
    <!--<script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>-->