*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------Common css--------------- */

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.banner, .container-fluid{
    position: relative;
    top: 64px;
}

.title{
    position: relative;
    font-size: 35px;
    color: #4F4F4F;
    font-weight: 550;
    text-align: center;
    margin-top: 31px;
}

.separator{
    position: relative;
    display: inline-block;
    left: 50%;
    height: 25px;
    width: 25px;
    transform: translate(-50%, -35%);
    margin:0 auto 31px;
}
.separator::before{
    content: "";
    position: absolute;
    top: 12.5px;
    left: -65px;
    background-color: gray;
    height: 1px;
    width: 62px;
}
.separator::after{
    content: "";
    position: absolute;
    top: 12.5px;
    left: 27px;
    background-color: gray;
    height: 1px;
    width: 62px;
}

.content{
    max-width: 992px;
    margin: auto;
}

.medium-title{
    font-size: 28px;
    color: #4F4F4F;
    font-weight: bold;
    text-align: center;
}

#newsletter .up-arrow{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #525252;
}


#newsletter .up-arrow img{
    position: relative;
    top: 8px;
}

#newsletter .container-fluid
{
    /* justify-content: space-between; */ /*   bootstrap class - justify-content-between added  */
    align-items: center;
    flex-wrap: wrap;
}
#newsletter .content{
    font-size: 14px;
    color: #565656;
}
#newsletter .small-title
{
    font-size: 18px;
    font-weight: bold;
    color: #353548;
}

#newsletter input{
    padding:13px 22px;
    border: 1px solid #565656;
    border-radius: 50px;
    color: #565656;
    width: 233px;
}
#newsletter button{
    padding: 13px 22px;
    color: white;
    border: 0px;
    border-radius: 50px;
    background-color: #FF7B6D;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
}

.mobile{
    display: flex !important;
    margin: 7.5px 0;
}
.mobile input{
    margin: 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.country-code{
    height: 46px;
    width: 52px;
    background-color:#c8c8c8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]{
    height: 20px !important;
    width: 20px !important;
    margin-right: 7px !important;
    position: relative;
    top: 4px;
}
.terms{
    color: #1FB6FF !important;
}
/* ----------------------------------------------------------------------------- */


/* --------------------------------FAQs css--------------------------- */

.md-content1{
    font-size: 18px;
    color: #646464;
    max-width: 498px;
    text-align: center;
    margin: auto;
}

.content .row{
    margin: 36px 0;
}
.content .row div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content .row div{
    text-align: center;
    font-size: 24px;
    color: #646464;
    line-height: 1;
    padding: 19px 3px;
    border-bottom: 4px solid #1d7a8c;
    background-color: #f6f6f6;
}
.content .row .active{
    text-align: center;
    font-size: 24px;
    color: white;
    line-height: 1;
    padding: 21px 3px;
    background-color: #1d7a8c;
}

.tab-content{
    color: #646464;
}
.accordion-item{
    border: none;
    margin: 10px 0;
}

/* Accordion button toggle based on .collapsed class */
.accordion-item .collapsed .accordion-down{
    display: none;
}
.accordion-item .collapsed .accordion-right{
    display: inline;
}
.accordion-item .accordion-right{
    display: none;
}
.accordion-item .accordion-down{
    display: inline;
}
.tab-content button{
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #646464;
    background-color: white;
}


/* ---------------Prices page------------ */
.price-card{
    max-width: 553px;
    border: 2px solid #B0C9CE;
    margin: auto;
    font-size: 16px;
    color: #646464;
}
.price-card .heading{
    font-size: 28px;
    color: #FFFFFF;
    padding: 14px;
    background-color: #1D7A8C;
    text-align: center;
}
.price-content{
    text-align: center;
}
.price-content .price{
    font-size: 48px;
}
.price-content .per-hour{
    font-size: 30px;
}
.price-content>div:nth-child(2){
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    text-align: left;
    font-size: 16px;
    flex-direction: column;
}
.price-content>div:nth-child(2) div{
    margin: 10px;
}

.price-content img{
    height: 24px;
    width: 24px;
}

.extra-services{
    border-top: 1px solid gray;
}

.extra-services .img{
    width: 108px;
    height: 108px;
    border: 1px solid #B0C9CE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-services .service span:nth-child(2){
    padding-top: 7px;
    font-size: 16px;
    color: #646464;
}
.extra-services .service span:nth-child(3){
    font-size: 18px;
    color: #1D7A8C;
    font-weight: bold;
}

.cleaning{
    margin: 36px 0;
    padding: 5px 10px 36px;
    background-color: #F6F6F6;
}
.cleaning .card{
    max-width: 360px;
    margin: 0 15px;
    border: none;
}
.cleaning .card-title{
    font-size: 20px;
    font-weight: bold;
    color: #4F4F4F;
    background-color: #F6F6F6;
    padding: 5px 10px;
    margin: 0;
}
.cleaning .card-body{
    padding: 5px 10px;
    font-size: 16px;
    color: #4F4F4F;
    background-color: #F6F6F6;
}
.cleaning .card-body .accordion-body,.cleaning .accordion-header{
    background-color: #f6f6f6;
}
.cleaning .card-body button{
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #646464;
    background-color: #F6F6F6;
}
.cleaning .card-body .accordion-item{
    margin: 0px;
}

.why-helperland{
    color: #646464;
    font-size: 14px;
}
/* .why-helperland .div2{
    width: 375px;
    height: 240px;
} */
.why-helperland .div1{
    text-align: right;
}
.why-helperland .small-title{
    font-size: 20px;
}

/* -----------About Page-------------------- */
.about-page{
    font-size: 16px;
    color: #646464;
}

/* -----------Contact Page--------------------- */
.contact-icon .icon{
    color: #4F4F4F;
    text-align: center;
    font-size: 16px;
    width: 238px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}
.contact-icon img{
    height: 60px;
    margin: 0 0 10px;
}

.contact-page .get-in-touch{
    margin: 74px 0 0 0;
    padding: 74px 0;
    border-top: 2px solid #E1E1E1;
}
.contact-page .contact-form{
    max-width: 614px;  
    font-size: 16px;
    color: #A0A0A0;
    margin: auto;
}
.contact-page .contact-form div{
    display: inline-block;
    width: 299px;
}
.contact-page .contact-form .full-width{
    display: block;
    width: 100%;
}
.contact-page .contact-form input, select, textarea{
    width: 100%;
    padding: 9px 14px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    margin: 7.5px 0;
}
.contact-page .contact-form select{
    width: 100%;
    padding: 9px 14px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    color: #A0A0A0;
    background-color: white;
}
.contact-page .contact-form .button{
    font-size: 20px;
    color: white;
    padding: 6px 50px;
    border-radius: 46px;
    background-color: #1D7A8C;
    border: none;
    display: inline-block;
    margin: auto;
}

/* ------------------------------------------------------------------ */

/* ----------------Service provider page------------------------------ */

.service-provider .container-fluid{
    top: 0;
}
.register-now{
    background-image: url('../Images/become-a-pro-banner.png');
    background-size: cover;
    background-attachment: fixed;
    height: 930px;
    width: 100%;
}

.register-now .form{
    position: relative;
    top: 145px;
    max-width: 430px;
    margin: auto;
    padding: 20px 36px;
    border-radius: 4px;
    background-color: white;
}
.register-now .down-arrow{
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
}
.register-now .form .form-title{
    font-size: 24px;
    font-weight: bold;
    color: #4F4F4F;
    text-align: center;
    margin:0 0px 24px;
}
.register-now .form input{
    width: 100%;
    height: 46px;
    font-size: 16px;
    /* color: #A0A0A0; */
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    margin: 7.5px 0;
    padding: 13px 15px;
}
.register-now .button{
    font-size: 16px;
    color: white;
    padding: 6px 27px;
    border-radius: 46px;
    background-color: #1D7A8C;
    border: none;
    margin: 15px auto 0px;
}
.register-now-content .title{
    position: relative;
    font-size: 40px;
    color: #4F4F4F;
    font-weight: bold;
    text-align: center;
    margin-top: 31px;
}
.register-now-content .how-it-works{
    margin: auto;
    max-width: 740px;
    margin-top: 31px;
    font-size: 18px;
    color: #4f4f4f;
}
.register-now-content .how-it-works .img{
    height: 260px;
    width: 260px;
}
.register-now-content .how-it-works .text-content{
    max-width: 360px;
}
.register-now-content .how-it-works .heading{
    font-size: 30px;
    font-weight: bold;
}
.register-now-content .how-it-works a{
    color: #4f4f4f;
    text-decoration: none;
}



/* -----------------For Dashboard page---------------------------- */

.welcome-heading{
    
    background-color: #f7f7f7 !important;
    text-align: center;
    color: #4F4F4F;
    padding-top: 88px !important;
}
.welcome-heading h1{
    display: inline;
    font-size: 30px;
}
.dashboard{
    color: #646464;
    width: 90%;
    margin: 20px auto;
}

.dashboard-table{
    /* max-width: 865px; */
    width: calc(80% - 20px);
}

.side-menu ul{
    padding: 0;
}
.side-menu li{
    list-style: none;
    padding: 16px 16px;
    border-bottom: .3px solid white !important;
    color: white;
}
.side-menu li:hover{
    background-color: #146371;
}

.side-menu{
    width: calc(20% - 10px);
    margin-right: 10px;
    background-color: #1D7A8C;
    color: white;
    font-size: 18px;
}
.table-heading{
    color: #646464;
    font-size: 22px;
    font-weight: bold;
}
.mobile-table-heading{
    display: none;
}
tr{
    border: 1px solid #e4e4e4;
}

th{
    background-color: #F9F9F9;
    color: #646464;
    padding: 16px 14px;
    text-align: left;
}
th a, td a{
    color: #646464;
}
th a:hover, td a:hover{
    color: #979797;
}
td{
    padding: 5px 14px;
}
td.service-provider{
    display: flex;
    align-items: center;
}
td.service-provider>img{
    width: 44px;
    height: 38px;
    border-radius: 50%;
    padding: 8px 7px;
    border: 1px solid #646464;
}
.line-break{
    display: flex;
    flex-direction: column;
}
.cancle-button{
    padding: 7px 15px;
    border-radius: 30px;
    color: white;
    background-color: #FF6B6B;
}
.cancle-button:hover{
    color: white;
    background-color: #db3030;
}
.export-button{
    color: white;
    background-color: #146371;
    padding: 8px 13px;
    border-radius: 34px;
}
.export-button:hover{
    color: white;
}
.RateSP-button{
    font-size: 14px;
    padding: 9px 11px;
    border-radius: 30px;
    color: white;
    background-color: #6DA9B5;
}
.RateSP-button:hover{
    color: white;
    background-color: #3e818f;
}
.cancelled{
    font-size: 14px;
    padding: 7px 15px;
    color: white;
    background-color: #ff6b6b;
}
.completed{
    font-size: 14px;
    padding: 7px 15px;
    color: white;
    background-color: #67b644;
}
tr img{
    margin: 0 5px 0 0;
}
.payment{
    color: #1d7a8c;
}
.td-center{
    text-align: center;
}
.payment span{
    font-size: 20px;
    font-weight: bold;
}

/* -------------------------------------------------------------- */


/* ------------------Responsive queries--------------- */
@media screen and (max-width: 1280px){
    .cleaning .card{
        max-width: 300px;
    }
}

@media screen and (max-width: 991px){
    .cleaning .card{
        max-width: 280px;
    }

    .service-provider-header{
        background-color: #525252;
    }
}


@media screen and (max-width: 991px){
    .side-menu{
        display: none;
    }
    .dashboard {
        width: 100%;
    }
    .dashboard-table{
        margin: 0 15px;
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .cleaning .card{
        max-width: 280px;
    }
    .why-helperland .div1{
        text-align: center;
    }
    .why-helperland div{
        text-align: center;
        max-width: 320px;
    }
}
@media screen and (max-width: 768px) {
    thead{
        display: none;
    }
    .dashboard{
        margin: 0px;
    }
    .dashboard-table{
        margin: 15px;
    }
    .mobile-table-heading{
        display: block;
    }
    tr{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 0px 25px;
        box-shadow: 0px 0px 8px #646464;
    }
    td{
        padding: 10px 0px;
        border-bottom: 1px solid #b6b6b6;
    }
    .line-break{
        flex-direction: row;
    }
    .line-break a,.line-break span{
        margin-right: 15px;
    }
    td:last-child{
        text-align: center;
        border-bottom: none;
    }
    .payment, .td-center{
        text-align: left;
    }
}
@media screen and (max-width: 576px){
    .container-fluid{
        padding:0px 10px;
    }
    .price-content>div:nth-child(2){
        width: 80%;
    }

    .extra-services .img{
        margin: 10px 20px;
    }

    .cleaning .card{
        margin: 15px 0px;
    }

    .contact-page .contact-form div{
        display: block;
        width: 100%;
    }

    .register-now .form{
        padding: 20px 18px;
    }
    .register-now .down-arrow{
        top: 170px;
    }
    .how-it-works p,.how-it-works div{
        text-align: center;
    }
    .how-it-works>div{
        margin-bottom: 25px;
    }
    .how-it-works>div:last-child{
        margin-bottom: 0px;
    }

}

