@model UserViewModel
@{
    ViewBag.title = "Helperland - MyAccount";
    ViewData["Header"] = "";
}

@*<div class="welcome-heading py-4">
    <h1 class="welcome">Welcome,</h1>
    <h1 class="fw-bold">@User.FindFirst("FirstName").Value</h1>
</div>*@
@*<div class="dashboard service-history d-flex justify-content-around">
    <div class="side-menu">
        <ul>
            <a href="">
            <li class="side-menu-item" id="Dashboard">Dashboard</li>
            </a>
            <a href="">
            <li class="side-menu-item" id="Service-History">Service History</li>
            </a>
            <a href="">
            <li class="side-menu-item" id="Service-Schedules">Service Schedules</li>
            </a>
            <a href="">
            <li class="side-menu-item" id="Favourite-Pros">Favourite Pros</li>
            </a>
            <a href="">
            <li class="side-menu-item" id="Invoices">Invoices</li>
            </a>
            <a href="">
            <li class="side-menu-item" id="Notification">Notification</li>
            </a>
        </ul>
    </div>*@
    <div class=" my-setting dashboard-table row-table">
        <div class="nav nav-tabs my-setting-tab" id="myTab" role="tablist">
            <div class="tab1 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Index" type="button" role="tab" aria-controls="home" aria-selected="true" onclick="Show('Index');">My Details</div>
            <div class="tab2" id="address-tab" data-bs-toggle="tab" data-bs-target="#UserAddresses" type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="Show('UserAddresses');">My Addresses</div>
            <div class="tab3" id="passowrd-tab" data-bs-toggle="tab" data-bs-target="#ResetPassword" type="button" role="tab" aria-controls="contact" aria-selected="false" onclick="Show('ResetPassword');">Change Password</div>
            <div class="tab4" id="subscribe-tab" data-bs-toggle="tab" data-bs-target="#Subscribe" type="button" role="tab" aria-controls="contact" aria-selected="false" onclick="Show('Subscribe');">Subscribe Notifications</div>
        </div>
        <div class="" id="myTabContent">
            <div class="tab-pane fade show active" id="Index" role="tabpanel" aria-labelledby="home-tab" style="display: block;">
                <div class="Index" id="index" >
                    
                </div>
            </div>
            <div class="tab-pane fade" id="UserAddresses" role="tabpanel" aria-labelledby="address-tab" style="display: none;">
                <div class="alert-success text-start mb-0" id="address-success" style="display:none;"></div>
                <div class="alert-danger text-start mb-0" id="address-deleted-error" style="display:none;">Oops!! Something went wrong...</div>
                <div class="userAddresses" id="userAddresses">

                </div>
                <div>
                    <button class="small-button fs-6" onclick="LoadAddressModal()">+ Add New Address</button>
                </div>
            </div>
            <div class="tab-pane fade" id="ResetPassword" role="tabpanel" aria-labelledby="password-tab" style="display: none;">
                <div class="alert-danger" id="password-reset-fail" style="display: none;">Oops!! Your current password is wrong!!!</div>
                <div class="alert-success" id="password-reset-success" style="display: none;">Your Password has been changed successfully!!</div>
                <div class="resetPassword" id="resetPassword">

                </div>
            </div>
            <div class="tab-pane fade" id="Subscribe" role="tabpanel" aria-labelledby="subscribe-tab" style="display: none;">
                <div class="d-flex contact-form my-4" >
                    <label for="subscribe">
                    <input name="subscribe" type="checkbox" class="p-0" id="subscribe" />
                    Yes, I would like to subscribe to the newsletter of Helperland GmbH with vouchers, trends, promotions and individualized offers. I can unsubscribe from the newsletter at any time in the newsletter and in the customer account itself. If you no longer wish to receive our newsletter, remove the tick.</label>
                </div>
            </div>
        </div>

    </div>
@*</div>*@


@section Modals{
<!-- ------------- Modal--------------- -->
<div class="Modal " id="Delete-Add-Modal">
    <img class="close-modal" src="~/images/close.png" />
    <h4 class="modal-title">Delete Address</h4>
    <div>Are you sure you want to delete this address ?</div>
    <form asp-controller="User" asp-action="DeleteAddress" onsubmit="return jQueryAjaxPost(this);" method="post">
        <input type="hidden" name="AddressId" value="" />
        <button type="submit" class="small-button d-inline" style="width: auto;" value="Delete" >Delete</button>
        <button type="Reset" class="white-button d-inline close" style="width: auto;" value="Delete" >Cancle</button>
    </form>
</div>

<div class="Modal Address-Modal mx-2" id="Address-Modal">
    <img class="close-modal" src="~/images/close.png" />
    <h4 class="modal-title my-2" id="Address-Modal-Title"></h4>
    <div id="add-or-edit-address">

    </div>
</div>

}

@section Scripts
{ 
    <script>
        window.onload = LoadMyDetails;
        function LoadMyDetails() {
            $("#index").html("Loading user details...").load(`/User/MyDetails`);
            $("#resetPassword").html("Loading Password reset form").load(`/User/ResetPassword`);
            $("#userAddresses").html("Loading User addresses...").load(`/User/UserAddresses`);
        }

        function Show(action) {
            $("#" + action).css("display", "block");
            $("#" + action).siblings().css("display", "none");
        };

        function Delete(AddId) {
            console.log("delete modal");
            $("#blur").addClass("blur");
            $("#Delete-Add-Modal").addClass("active");
            $('input[name="AddressId"]').val(AddId);
        }

        $(".close").click(function () {
            $("#blur").removeClass("blur");
            $(".Modal").removeClass("active");
            $('input[name="AddressId"]').val('');
        });


        //to set default address
        function setDefault(addId) {

        }

        function LoadAddressModal(addId = 0) {
            if (addId != 0) {
                $("#Address-Modal-Title").html("Edit Address");
            }
            else {
                $("#Address-Modal-Title").html("Add New Address");
            }
            $("#add-or-edit-address").html("Loading Address Modal").load(`/User/AddOrEditAddress/${addId}`);
            $("#blur").addClass("blur");
            $("#Address-Modal").addClass("active");
        }


    </script>

}