@model ResetPasswordViewModel
@{
    Layout = null;
}

<div class="contact-page my-4">
    <span class=" text-center alert-success" id="password-reset-success" style="display: none;"></span>
    <span class=" text-center alert-danger" id="password-reset-fail" style="display: none;"></span>

    <form class="contact-form ms-0" asp-controller="Register" asp-action="ResetPassword" onsubmit="return jQueryAjaxPost(this);">
        <div>
            <label class="fw-bold" asp-for="OldPassword"></label>
            <input asp-for="OldPassword" placeholder="Current Password" />
        </div> <br />
        <div>
            <label class="fw-bold" asp-for="Password"></label>
            <input asp-for="Password" placeholder="New Password" />
        </div> <br />
        <span class="text-danger" asp-validation-for="Password"></span>
        <div>
            <label class="fw-bold" asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
        </div> <br />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        <button class="button" type="submit">Save</button>
    </form>
</div>