@{
    ViewBag.title = "Helperland - About Us";
    ViewData["Header"] = "";
}


<div class="banner">
    <img src="~/images/hero-banner-img.png" alt="" class="img-fluid">
</div>

<div class="container-fluid about-page">
    <h1 class="title">A Few words about us</h1>
    <div class="separator"><img src="~/images/separator.png" alt=""></div>
    <div class="content">
        <p class="text-center">
            Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea
            dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. vehicula
            placerat Lorem ipsum, Deleniti dolore temporibus eos vitae
            fugiat voluptatibus error nesciunt architecto magnam dicta. Nihil repellat assumenda, laborum rerum
            velit sit ducimus enim et.
        </p>
        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quo. Sint consequatur temporibus eveniet
            culpa nulla quo repudiandae, est voluptatum ipsum libero accusantium velit totam ratione. Numquam
            pariatur vel illo autem obcaecati totam, adipisci sequi dolore amet nesciunt, accusantium blanditiis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore inventore aliquid dignissimos quas
            necessitatibus vero nisi repellat quae deserunt neque?
        </p>
    </div>
    <h1 class="title mt-5">Our Story</h1>
    <div class="separator"><img src="~/images/separator.png" alt=""></div>
    <div class="content">
        <p class="text-center">
            Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget,
            aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.  Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
        </p>
        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quo. Sint consequatur temporibus eveniet
            culpa nulla quo repudiandae, adipisci sequi dolore amet nesciunt, accusantium blanditiis?
        </p>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet saepe facilis incidunt. Praesentium,
            deserunt! Illum eius placeat veritatis eum voluptatibus quia quis magnam, natus neque, ducimus beatae.
            Consequuntur, repellat hic!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem error reprehenderit ipsam itaque
            dignissimos quaerat! Eos nam ipsam rem in!
        </p>
    </div>
</div>





