@{
    ViewBag.title = "Helperland - Contact Us";
}


<div class="banner img-fluid">
    <img src="~/images/group-16_2.png" alt="" class="img-fluid">
</div>

<div class="container-fluid contact-page">
    <h1 class="title">Contact Us</h1>
    <div class="separator"><img src="~/images/separator.png" alt=""></div>
    <div class="content">
        <div class="contact-icon d-flex justify-content-around flex-wrap">
            <div class="icon">
                <div class="img">
                    <img src="~/images/forma-1_2.png" alt="" class="img-fluid" height="54px"
                         width="34px">
                </div>
                <span>1111 Lorem ipsum text 100, <br> Lorem ipsum AB</span>
            </div>
            <div class="icon">
                <div class="img">
                    <img src="~/images/phone-call.png" alt="" class="img-fluid" height="50px"
                         width="44px">
                </div>
                <span>+49 (40) 123 56 7890 <br>+49 (40) 123 56 7890</span>
            </div>
            <div class="icon">
                <div class="img">
                    <img src="~/images/vector-smart-object.png" alt="" class="img-fluid"
                         height="37px" width="61px">
                </div>
                <span>info@helperland.com</span>
            </div>
        </div>

        <div class="get-in-touch">
            <h2 class="medium-title">Get in touch with us</h2>
            <div class="contact-form d-flex justify-content-between flex-wrap">
                <div><input type="text" name="firstname" id="" placeholder="firstname"></div>
                <div><input type="text" name="lastname" id="" placeholder="lastname"></div>
                <div class="mobile"><span class="country-code">+49</span><input type="text" name="mobile" id="" placeholder="Mobile number"></div>
                <!-- <div class="mobile"><input type="text" name="mobile" id=""
                    placeholder="Phone number"></div> -->
                <div class=""><input type="text" name="email" id="" placeholder="Email address"></div>
                <div class="full-width">
                    <select name="subject" id="" placeholder="Subject">
                        <option value="">Subject1</option>
                        <option value="">Subject2</option>
                        <option value="">Subject3</option>
                        <option value="">Subject4</option>
                    </select>
                </div>
                <div class="full-width">
                    <textarea name="message" id="" placeholder="Message" rows="5"></textarea>
                </div>
                <button type="submit" class="button">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="banner img-fluid">
    <img src="~/images/group-16.png" alt="" class="img-fluid">
</div>

