@{
    //Layout = "../Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Helperland - Home";
    ViewData["Header"] = "Sliding_Header";
}

<div id="home" class="home">
    <div class="fluid ">
        <div class="content1">
            <h1 class="heading">Lorem Ipsum text</h1>
            <span>
                <img src="~/images/forma-1-copy-10.png">Lorem ipsum dolor sit amet consectetur adipisicing.
            </span><br>
            <span>
                <img src="~/images/forma-1-copy-10.png">Lorem ipsum dolor sit amet consectetur adipisicing.
            </span><br>
            <span>
                <img src="~/images/forma-1-copy-10.png">Lorem ipsum dolor sit amet consectetur adipisicing.
            </span><br>
        </div>
        @if ((User.Identity.IsAuthenticated && User.IsInRole("1")) || !User.Identity.IsAuthenticated)
        {
            <div class="button">
                <a href="#">
                    <a asp-controller="Service" asp-action="BookService" class="center-button">
                        Let's Book a Cleaner
                    </a>
                </a>
            </div>
        }
        <div class="down-logo-area d-flex mx-auto flex-wrap">
            <div class=" d-flex flex-column justify-content-center my-0">
                <img src="~/images/down-logo-1.svg" height="55" width="52" class="mx-auto" alt="">
                <span>Enter your postcode</span>
            </div>

            <div class="arrow"><img src="~/images/step-arrow-1.png" alt=""></div>

            <div class=" d-flex flex-column justify-content-center">
                <img src="~/images/down-logo-2.png" height="55" width="52" class="mx-auto" alt="">
                <span>Select your plan</span>
            </div>

            <div class="arrow"><img src="~/images/step-arrow-1-copy.png" alt=""></div>

            <div class=" d-flex flex-column justify-content-center">
                <img src="~/images/down-logo3.svg" height="55" width="52" class="mx-auto" alt="">
                <span>Pay securely online</span>
            </div>

            <div class="arrow"><img src="~/images/step-arrow-1.png" alt=""></div>

            <div class=" d-flex flex-column justify-content-center">
                <img src="~/images/down-logo-4.svg" height="55" width="52" class="mx-auto" alt="">
                <span>Enjoy amazing service</span>
            </div>

        </div>

        <div class="down-arrow mx-auto">
            <a href="#why"><img src="~/images/group-18_5.png" alt=""></a>
        </div>

    </div>
</div>

<!-- Why Helperland -->
<div class="why" id="why">
    <div class="container my-5 pb-5">
        <h1 class="title-heading text-center mb-5">Why Helperland</h1>
        <div class="content1">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center my-3">
                    <img src="~/images/why-3.png" alt="" class="img-fluid">
                    <div class="sub-heading">Experience & Vetted Profesional</div>
                    <div class="inner-content">
                        dominate the industry in scale and scope with an adaptable, extensive network that
                        consistently delivers exceptional results.
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center my-3">
                    <img src="~/images/why-2.png" alt="" class="img-fluid">
                    <div class="sub-heading">Secure Online Payment</div>
                    <div class="inner-content">
                        to our customers and are guided in all we do by their needs. The team is always happy to
                        support you and offer all the information.
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 text-center my-3">
                    <img src="~/images/why-3.png" alt="" class="img-fluid">
                    <div class="sub-heading">Dedicated Customer Service</div>
                    <div class="inner-content">
                        to our customers and are guided in all we do by their needs. The team is always happy to
                        support you and offer all the information.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Our Blog -->
<div class="blog" id="blog">
    <div class="container  pb-5">
        <div class="content1 ">
            <div class="row flex-wrap-reverse">
                <div class="col-md-7 col-12">
                    <div class="sub-heading">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="inner-content">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, asperiores nulla
                            veritatis non maxime quia a beatae sed dolore.
                        </p>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio recusandae reprehenderit
                            eius repudiandae quam. Voluptatem? Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                        </p>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.

                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4 col-12">
                    <img src="~/images/group-36.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="content2">
            <h1 class="title-heading text-center mb-5">Our Blog</h1>
            <div class="content">
                <div class="row ">
                    <div class="col-md-4 col-sm-12 p-3">
                        <div class="card justify-self-center">
                            <img src="~/images/group-28.png" class="card-img-top" alt="...">
                            <div class="card-title mx-3 mt-3 mb-0">
                                Lorem ipsum dolor sit amet.
                            </div>
                            <div class="below-title mx-3">
                                January 28, 2019
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>

                                <a href="#">Read The Post <img src="~/images/shape-2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 p-3">
                        <div class="card">
                            <img src="~/images/group-29.png" class="card-img-top" alt="...">
                            <div class="card-title mx-3 mt-3 mb-0">
                                Lorem ipsum dolor sit amet.
                            </div>
                            <div class="below-title mx-3">
                                January 28, 2019
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>

                                <a href="#" class="">Read The Post <img src="~/images/shape-2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 p-3">
                        <div class="card">
                            <img src="~/images/group-30.png" class="card-img-top" alt="...">
                            <div class="card-title mx-3 mt-3 mb-0">
                                Lorem ipsum dolor sit amet.
                            </div>
                            <div class="below-title mx-3">
                                January 28, 2019
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                    the bulk of the card's content.
                                </p>

                                <a href="#">Read The Post <img src="~/images/shape-2.png" alt=""></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- What our Customers say -->
<div class="Customers_says" id="Customers_says">
    <div class="container">
        <h1 class="title-heading text-center p-5">What Our Customers Says</h1>
        <div class="content">
            <div class="row">
                <div class="col-md-4 col-sm-12 p-3">
                    <div class="card">
                        <div class="mt-4 mx-4 d-flex  align-items-center">
                            <img src="~/images/group-32.png" alt="..." height="70" width="70">
                            <div class="side-name mx-2">
                                <div class="person-name">
                                    <div class="card-title mb-0">
                                        Lary Watson
                                    </div>
                                    <div class="below-title">
                                        Manchester
                                    </div>
                                </div>
                            </div>
                            <img src="~/images/message.png" class="message"
                                 style="position: relative; left: 20px; bottom: 10px;" height="33" width="33"
                                 alt="">

                        </div>
                        <div class="card-body px-4">
                            <p class="card-text">
                                Some quick example text to build on the card title and make up
                                the bulk of the card's content. Maxime ipsam accusamus dolorem.
                            </p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                            <a href="#">Read More <img src="~/images/shape-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-3">
                    <div class="card">
                        <div class="mt-4 mx-4 d-flex  align-items-center">
                            <img src="~/images/group-32.png" alt="..." height="70" width="70">
                            <div class="side-name mx-2">
                                <div class="person-name">
                                    <div class="card-title mb-0">
                                        Lary Watson
                                    </div>
                                    <div class="below-title">
                                        Manchester
                                    </div>
                                </div>
                            </div>
                            <img src="~/images/message.png" class="message"
                                 style="position: relative; left: 20px; bottom: 10px;" height="33" width="33"
                                 alt="">

                        </div>
                        <!-- <div class="my-4 mx-4 d-flex flex-wrap align-items-center">
                            <img src="~/images/group-32.png" alt="..." height="70px" width="70px">
                            <div class="side-name mx-4">
                                <span class="card-title">John Smith</span> <br>
                                <span class="">Manchester</span>
                            </div>
                            <img src="~/images/shape-2.png" class="justify-seld-end" alt="">
                        </div> -->
                        <div class="card-body px-4">
                            <p class="card-text">
                                Some quick example text to build on the card title and make up
                                the bulk of the card's content. Maxime ipsam accusamus dolorem.
                            </p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                            <a href="#">Read More <img src="~/images/shape-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 p-3">
                    <div class="card">
                        <div class="mt-4 mx-4 d-flex  align-items-center">
                            <img src="~/images/group-32.png" alt="..." height="70" width="70">
                            <div class="side-name mx-2">
                                <div class="person-name">
                                    <div class="card-title mb-0">
                                        Lary Watson
                                    </div>
                                    <div class="below-title">
                                        Manchester
                                    </div>
                                </div>
                            </div>
                            <img src="~/images/message.png" class="message"
                                 style="position: relative; left: 20px; bottom: 10px;" height="33" width="33"
                                 alt="">
                        </div>
                        <div class="card-body px-4">
                            <p class="card-text">
                                Some quick example text to build on the card title and make up
                                the bulk of the card's content. Maxime ipsam accusamus dolorem.
                            </p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                            <a href="#">Read More <img src="~/images/shape-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    @if (Model != null && Model.LoginModal)
    {
        <script>
            function OpenLoginModal() {
                $("#blur").addClass("blur");
                $("#Login-Modal").addClass("active");
                $("#Password-Modal").removeClass("active");
            }

            OpenLoginModal();
        </script>
    }
}

<!-- NEWSLETTER -->
@*<div class="newsletter" id="newsletter">
        <div class="container-fluid d-flex justify-content-between pb-5">
            <a href="#home" class="order-sm-1 order-2">
                <div class="up-arrow"><img src="~/images/forma-1.png" alt=""></div>
            </a>
            <div class="content  order-sm-2 order-1">
                <h2 class="card-title text-center pt-5 pb-2">GET OUR NEWSLETTER</h2>
                <form action="#" method="post" class="text-center">
                    <input type="email" name="" id="" placeholder="YOUR EMAIL">
                    <button type="submit" class="my-2 mx-2">Submit</button>
                </form>
            </div>
            <a href="#" class="order-sm-3 order-3">
                <div class="layer"><img src="~/images/layer-598.png" height="63px" width="63px" alt=""></div>
            </a>
        </div>
    </div>*@





