@{
    ViewBag.title = "Helperland - Prices & Services";
    ViewData["Header"] = "";
}


    <div class="banner img-fluid">
        <img src="~/images/group-18.png" alt="" class="img-fluid">
    </div>

    <div class="container-fluid">

        <!-- Price card -->
        <div class="price-area" id="price">
            <h1 class="title">Prices</h1>
            <div class="separator"><img src="~/images/separator.png" alt=""></div>
            <div class="price-card mb-5">
                <div class="heading">One Time</div>
                <div class="price-content">
                    <div class="my-1">
                        <span class="price">€ 20</span><span class="per-hour">/hr</span>
                    </div>
                    <div class="d-flex mb-2">
                        <div class="d-flex"><img src="~/images/forma-1_5.png" alt="" class="mx-2"> <span> Lower
                                prices</span></div>
                        <div class="d-flex"><img src="~/images/forma-1_5.png" alt="" class="mx-2"> <span> Easy
                                online &
                                secure payment</span></div>
                        <div class="d-flex"><img src="~/images/forma-1_5.png" alt="" class="mx-2"> <span> Easy
                                amendment</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Extra services -->
        <div class="extra-services container my-4">
            <h1 class="title">Extra services</h1>
            <div class="separator"><img src="~/images/separator.png" alt="" class=""></div>
            <div class="content d-flex justify-content-sm-around justify-content-center flex-wrap">
                <div class="service my-2 d-flex flex-column align-items-center">
                    <div class="img mx-2"><img src="~/images/3.png" alt="" height="" width=""></div>
                    <span>Inside cabinets</span>
                    <span>30 minutes</span>
                </div>
                <div class="service my-2 d-flex flex-column align-items-center">
                    <div class="img mx-2"><img src="~/images/5.png" alt="" height="" width=""></div>
                    <span>Inside fridge</span>
                    <span>30 minutes</span>
                </div>
                <div class="service my-2 d-flex flex-column align-items-center">
                    <div class="img mx-2"><img src="~/images/4.png" alt="" height="" width=""></div>
                    <span>Inside oven</span>
                    <span>30 minutes</span>
                </div>
                <div class="service my-2 d-flex flex-column align-items-center">
                    <div class="img mx-2"><img src="~/images/4.png" alt="" height="" width=""></div>
                    <span>Laundry wash & dry</span>
                    <span>30 minutes</span>
                </div>
                <div class="service my-2 d-flex flex-column align-items-center">
                    <div class="img mx-2"><img src="~/images/1.png" alt="" height="" width=""></div>
                    <span>Interio window</span>
                    <span>30 minutes</span>
                </div>
            </div>
        </div>

        <!-- What we include in Cleaning -->
        <div class="cleaning" id="cleaning">
            <h1 class="title">What we include in cleaning</h1>
            <div class="separator"><img src="~/images/separator.png" alt="" class=""></div>
            <div class="content d-flex justify-content-center justify-content-md-around flex-wrap flex-md-nowrap">
                <div class="card col-md-4 col-12">
                    <div class="card-img"><img src="~/images/group-18_3.png" alt="" class="img-fluid"></div>
                    <div class="card-title">
                        Bedrooms and Living Room
                    </div>
                    <div class="card-body">
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Dust all accessible surfaces</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Wipe down all mirrors and glass fixtures</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Not Included Clean all floor surfaces</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Take out garbage and recycling</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>To clean up</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Make beds</span>
                            </div>
                    </div>
                </div>
                <div class="card col-md-4 col-12">
                    <div class="card-img"><img src="~/images/group-18_4.png" alt="" class="img-fluid"></div>
                    <div class="card-title">
                        Bathrooms
                    </div>
                    <div class="card-body">
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Wash and sanitize the toilet, shower, tub, sink</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Not Included Dust all accessible surfaces</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Wipe down all mirrors and glass fixtures</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Not Included Clean all floor surfaces</span>
                            </div>
                            <div class="">
                                <img src="~/images/right.png" alt=""><span>Included Take out garbage and recycling</span>
                            </div>
                    </div>
                </div>
                <div class="card col-md-4 col-12">
                    <div class="card-img"><img src="~/images/group-18_2.png" alt="" class="img-fluid"></div>
                    <div class="card-title">
                        Kitchen
                    </div>
                    <div class="card-body">
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Cleaning the sink</span>
                        </div>
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Cleaning the oven (outside)</span>
                        </div>
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Cleaning the work surfaces</span>
                        </div>
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Included Dust all accessible surfaces</span>
                        </div>
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Included Clean all floor surfaces</span>
                        </div>
                        <div class="">
                            <img src="~/images/right.png" alt=""><span>Included Take out garbage and recycling</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Why Helperland -->
        <div class="why-helperland" id="why-helperland">
            <h1 class="title">Why Helperland</h1>
            <div class="separator"><img src="~/images/separator.png" alt=""></div>
            <div class="content row justify-content-center">
                <div class="div1 col-md-4 col-12 mx-2">
                    <h2 class="small-title">Experienced and vetted professionals</h2>
                    <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently
                        delivers exceptional results.</p>
                    <h2 class="small-title">Dedicated customer service</h2>
                    <p>to our customers and are guided in all we do by their needs. The team is always happy to support
                        you and offer all the information. you need.</p>
                </div>
                <div class="div2 col-md-4 col-12 mx-2 best-img"><img src="~/images/the-best-img-1.png" alt=""
                        class="img-fluid"></div>
                <div class="div3 col-md-4 col-12 mx-2">
                    <h2 class="small-title">Every cleaning is insured</h2>
                    <p>and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean
                        your homes.</p>
                    <h2 class="small-title">Secure online payment</h2>
                    <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
            </div>
        </div>
    </div>

    



