@model AuthenticationViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Link for fav icon-->
    <link href="~/images/favicon_img.png" rel="shortcut icon" />

    <!-- bootstrap css bundle -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- custom CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Modal.css" rel="stylesheet" />
</head>

<body>
    <div class="">
        <main role="main" class="" id="blur">
            <!-- Header -->
            <header class="header" id="header">
                <nav class="navbar navbar-expand-lg text-center" style="position: fixed;">
                    <!-- Logo -->
                    <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/white-logo-transparent-background.png" alt="logo">
                    </a>

                    <!-- Mobile Menu -->
                    <button class="menu-toggler">
                        <!-- active will be added on mobile view-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Mobile Menu -->

                    <div class="custom-navbar-menu navbar-collapse main-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active"><a class="nav-link button" href="#">Book a Cleaner</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Prices">Prices</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Our Guarantee</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link button login" href="#">Login</a></li>
                            <li class="nav-item"><a class="nav-link button" asp-controller="Home" asp-action="Sp_Register">Become a helper</a></li>

                            <li class="nav-item dropdown fleg">
                                <a class="nav-link nav-link2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/flag.png" alt="logo">
                                    <img src="~/images/keyboard-right-arrow-button.png" alt="logo">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#"><img src="~/images/flag.png" alt="logo"> India</a></li>
                                    <li><a class="dropdown-item" href="#"><img src="~/images/flag.png" alt="logo"> USA</a></li>
                                    <!-- <li><hr class="dropdown-divider"></li> -->
                                    <li><a class="dropdown-item" href="#"><img src="~/images/flag.png" alt="logo"> UK</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            @RenderBody()
        </main>
    </div>


    <!-- FOOTER AREA -->
    <div class="footer" id="footer">
        <div class=" px-2 d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center py-4">
            <a asp-controller="Home" asp-action="Index" class="">
                <img src="~/Images/white-logo-transparent-background.png" alt="logo"
                     class="logo">
            </a>
            <div class="links">
                <ul>
                    <a asp-controller="Home" asp-action="Index">
                    <li>HOME</li>
                    </a>
                    <a asp-controller="Home" asp-action="About">
                    <li>ABOUT</li>
                    </a>
                    <a href="">
                    <li>TESTIMONIALS</li>
                    </a>
                    <a asp-controller="Home" asp-action="FAQs">
                    <li>FAQS</li>
                    </a>
                    <a href="">
                    <li>INSURANCE POLICY</li>
                    </a>
                    <a href="">
                    <li>IMPRESSUM</li>
                    </a>
                </ul>
            </div>

            <div class="media-icons">
                <img src="~/Images/ic-facebook.png" alt="" class="mx-2">
                <img src="~/Images/ic-instagram.png" alt="" class="mx-2">
            </div>
        </div>
        <div class="privacy-policy text-center" id="privacy-policy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit Animi.
            <a href="" class="mx-2">Privacy Policy</a>
            <button class="policy-button mx-2" onclick="hide_policy()">OK!</button>
        </div>
    </div>

    <!-- -------------Login Modal--------------- -->
    <div class="Modal @(ViewData["Title"].ToString() == "true" ? "active" : "")" id="Login-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title">Login to your account</h4>
        <form asp-controller="Authentication" asp-action="Index" method="post">
            <div>
                <img src="~/images/login-user.png" alt=" " />
                <input asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div>
                <img src="~/images/lock.png" />
                <input type="password" asp-for="password" />
                <span class="text-danger" asp-validation-for="password"></span>
            </div>
            <input type="checkbox" class="mr-3" />Remember Me
            <button type="submit">LogIn</button>
        </form>
        <div class="text-center mt-4"><a href="#" id="password-reset">Forgot password ?</a></div>
        <div class="text-center">Don't have an account ? <a asp-controller="Home" asp-action="Register">Create an account</a></div>
    </div>
    <!-- -------------password Modal--------------- -->
    <div class="Modal @(ViewData["Title"].ToString() == "true" ? "active" : "")" id="Password-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title">Forgot Password</h4>
        <form asp-controller="" asp-action="" method="post">
            <div>
                <img src="~/images/login-user.png" alt=" " />
                <input asp-for="Email" id="forgot-email"/>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <button type="submit">Send</button>
        </form>
        <div class="text-center mt-4"><a href="#" class="login">LogIn Now</a></div>
    </div>

    <!-- bootstrap bundle JS -->
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jquery cdnjs -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Custom Script file -->
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
