@model ServiceRequestViewModel

@{
    ViewBag.title = "Helperland - Book Service";
    ViewData["Header"] = "";
}

<div class="container-fluid padded-fluid book-service mb-5">
    <h1 class="title fw-normal">Set up your cleaning service</h1>
    <div class="separator"><img src="~/images/separator.png" alt=""></div>
    <div class="container">
        <div class="book-service-content">
            <div class="tabs">
                <div class="tab active color  d-flex flex-wrap justify-content-center" id="tab1" onclick="go_to_backTab(this, 'setup-service');"><img src="~/images/search.svg" class="mx-2" height="25" /><div class=" service-tab-title">Setup Service</div></div>
                <div class="tab  d-flex flex-wrap justify-content-center" id="tab2" onclick="go_to_backTab(this, 'schedule-plan');"><img src="~/images/calendar3.svg" class="mx-2" height="25" /><div class=" service-tab-title">Schedule & Plan</div></div>
                <div class="tab  d-flex flex-wrap justify-content-center" id="tab3" onclick="go_to_backTab(this, 'your-details');"><img src="~/images/house-door.svg" class="mx-2" height="25" /><div class=" service-tab-title">Your Details</div></div>
                <div class="tab  d-flex flex-wrap justify-content-center" id="tab4" onclick="go_to_backTab(this, 'make-payment');"><img src="~/images/credit-card.svg" class="mx-2" height="25" /><div class=" service-tab-title">Make Payment</div></div>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="book-service-form">
                <div class="setup-service my-4 contact-page" id="setup-service">
                    <div class="small-title my-2">Enter your postal code</div>
                    <form asp-controller="Service" asp-action="IsPostalCodeAvailable" class="contact-form mx-0" onsubmit="return jQueryAjaxPost(this);">
                        <div class="col-sm-7 col-12 col-md-5"><input asp-for="ZipCode" /></div>
                        <button type="submit" class="button mx-2 fs-6" style="padding: 10px 20px">Check Availability</button> <br />
                        <span class="text-danger" asp-validation-for="ZipCode"></span>
                    </form>
                    <div id="postal-code-error" class="text-danger"></div>
                    @if (ViewBag.submitted == 1)
                    {
                        <div class="alert-success" id="service-added" clear:both;">
                            Your service has been booked successfully.<br />
                            Add new Service Request or <a asp-controller="User" asp-action="">Go to Dashboard</a>
                        </div>
                    }
                </div>
                <div class="schedule-plan my-4" id="schedule-plan">
                    <form asp-controller="Service" asp-action="BookService" id="service-req-form" method="post">
                        <input type="hidden" asp-for="ZipCode" value="" id="zip" />
                        <div class="row my-2">
                            <div class="small-title fs-6 col-12 col-md-7 col-lg-5">
                                When do you need the cleaner ?
                                <br />
                                <input type="date" asp-for="Date" style="width: auto;" class="pl-5" onchange="setSchedule()" /><img src="~/images/calendar-color.png" class="calender" />
                                <select asp-for="Time" class="" onchange="setSchedule()">
                                    <option value="8:00">8:00</option>
                                    <option value="8:30">8:30</option>
                                    <option value="9:00">9:00</option>
                                    <option value="9:30">9:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                </select>
                                <br />
                                <span class="text-danger fw-normal" id="date-error"></span>
                            </div>
                            <div class="small-title fs-6 col-12 col-md-5 col-lg-7">
                                How long do you need your cleaner to stay ? <br />
                                <select asp-for="ServiceHours" onchange="changeCost()">
                                    <option value="3.0">3.0 Hrs</option>
                                    <option value="3.5">3.5 Hrs</option>
                                    <option value="4.0">4.0 Hrs</option>
                                    <option value="4.5">4.5 Hrs</option>
                                    <option value="5.0">5.0 Hrs</option>
                                    <option value="5.5">5.5 Hrs</option>
                                    <option value="6.0">6.0 Hrs</option>
                                    <option value="6.5">6.5 Hrs</option>
                                    <option value="7.0">7.0 Hrs</option>
                                    <option value="7.5">7.5 Hrs</option>
                                    <option value="8.0">8.0 Hrs</option>
                                    <option value="8.5">8.5 Hrs</option>
                                    <option value="9.0">9.0 Hrs</option>
                                    <option value="9.5">9.5 Hrs</option>
                                    <option value="10.0">10.0 Hrs</option>
                                    <option value="10.5">10.5 Hrs</option>
                                    <option value="11.0">11.0 Hrs</option>
                                    <option value="11.5">11.5 Hrs</option>
                                    <option value="12.0">12 Hrs</option>
                                </select>
                            </div>
                        </div>
                        
                        <hr />
                        <div class="extra-services my-4" style="border:none;">
                            <div class="small-title fs-6 my-2">Extra Services</div>
                            <div class=" d-flex justify-content-sm-around justify-content-center flex-wrap">
                                <div class="service my-2  d-flex flex-column align-items-center">
                                    <label for="ExtraService1">
                                        <div class="img mx-2" data-val="0" onclick="add_extra_service(this);">
                                            <div><img src="/images/double-cabinate.png" alt=""></div>
                                        </div>
                                        <div class="text-center">Inside cabinets</div>
                                    </label>
                                </div>
                                <div class="service my-2 mx-2 d-flex flex-column align-items-center">
                                    <label for="ExtraService2">
                                        <div class="img mx-2" data-val="1" onclick="add_extra_service(this);">
                                            <div><img src="/images/double-fridge.png" alt=""></div>
                                        </div>
                                        <div class="text-center">Inside fridge</div>
                                    </label>
                                </div>
                                <div class="service my-2 mx-2 d-flex flex-column align-items-center">
                                    <label for="ExtraService3">
                                        <div class="img mx-2" data-val="2" onclick="add_extra_service(this);">
                                            <div><img src="/images/double_own.png" alt=""></div>
                                        </div>
                                        <div class="text-center">Inside oven</div>
                                    </label>
                                </div>
                                <div class="service my-2 mx-2 d-flex flex-column align-items-center">
                                    <label for="ExtraService4">
                                        <div class="img mx-2" data-val="3" onclick="add_extra_service(this);">
                                            <div><img src="/images/double-laudry.png" alt=""></div>
                                        </div>
                                        <div class="text-center">Laundry wash &amp; <br /> dry</div>
                                    </label>
                                </div>
                                <div class="service my-2 mx-2 d-flex flex-column align-items-center">
                                    <label for="ExtraService5">
                                        <div class="img mx-2" data-val="4" onclick="add_extra_service(this);">
                                            <div><img src="/images/double-window.png" alt=""></div>
                                        </div>
                                        <div class="text-center">Interio window</div>
                                    </label>
                                </div>
                            </div>
                            <div class="d-none">
                                <input type="checkbox" asp-for="ExtraService1" />
                                <input type="checkbox" asp-for="ExtraService2" />
                                <input type="checkbox" asp-for="ExtraService3" />
                                <input type="checkbox" asp-for="ExtraService4" />
                                <input type="checkbox" asp-for="ExtraService5" />
                            </div>
                        </div>
                        <hr />
                        <div class="my-4">
                            <div class="small-title fs-6 my-2">Comments</div>
                            <div class=""><textarea asp-for="Comments"></textarea></div>
                            <div class="my-2 mr-3"><input asp-for="HasPets" /><label for="HasPets">I have pets at home</label></div>
                        </div>
                        <hr />
                        <div class="contact-form">
                            <div class="button continue fs-5 fw-bold" style="float:right;" onclick="GetAddress();">Continue</div>
                        </div>
                        <input type="hidden" asp-for="AddressId" value="" />
                    </form>
                </div>
                <div class="your-details my-4" id="your-details">
                    <div class="my-2 small-title fs-6">Enter your contact details, so we can serve you in better way!</div>
                    <span class="text-danger" id="add-id-error"></span>
                    <div class="addresses" id="addresses">
                    </div>
                    <a class="new-address-button mb-3 mt-1" href="#" onclick="newAddress();">+ Add New Address</a>
                    <div class="new-address" id="new-address">
                    </div>
                    <hr />
                    <div class="contact-form">
                        <div class="button continue fs-5 fw-bold" style="float:right;">Continue</div>
                    </div>
                </div>
                <div class="make-payment my-4" id="make-payment">
                    <div class="my-3 small-title fs-6">Pay securely with Helperland payment gateway !</div>
                    <div class="contact-form">
                        Promo code (Optional) <br />
                        <input type="text" placeholder="Promo code (Optional)" style="width: 240px;" /> <a class="button fs-6 mx-2">Apply</a>
                    </div>
                    <hr />
                    <input type="text" placeholder="Card number" />
                    <hr />
                    <label for="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        <div class="d-inline">
                            I accepted  <a href="" class="terms">terms and conditions</a>, the  <a href="" class="terms">cancellation policy</a> and the  <a href="" class="terms">privacy policy</a>. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal period and I lose my right of withdrawal as a consumer with full performance of the contract.
                        </div>
                    </label>
                    <hr />
                    <div class="contact-form">
                        <button type="submit" id="submit-req" class="button fs-5 fw-bold" style="float:right;">Complete Booking</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="mx-2" id="payment-card">
            <div class="payment-card">
                <div class="heading">Payment Summary</div>
                <div class="pb-0 pt-4 px-4">
                    <div id="schedule" class="small-title fw-normal"></div>
                    <div id="" class="small-title fw-normal">Duration</div>
                    <div id="" class="d-flex justify-content-between"><span>Basic</span><span id="basic-hours">3 Hrs</span></div>
                    <div class="small-title fw-normal" id="extra" style="display:none;">Extra</div>
                    <div id="extra-service">
                        <div id="es0" class="" style="display:none;"><span>Inside cabinets</span><span style="float:right;">30 Mins</span></div>
                        <div id="es1" style="display:none;" class=""><span>Inside fridge</span><span style="float:right;">30 Mins</span></div>
                        <div id="es2" style="display:none;" class=""><span>Inside oven</span><span style="float:right;">30 Mins</span></div>
                        <div id="es3" style="display:none;" class=""><span>Laundry wash & dry</span><span style="float:right;">30 Mins</span></div>
                        <div id="es4" style="display:none;" class=""><span>Interio window</span><span style="float:right;">30 Mins</span></div>
                    </div>
                    <hr class="my-2" />
                    <div class="small-title fs-6 d-flex justify-content-between"><span>Total Service Time</span><span id="total-time">3 Hrs</span></div>
                </div>
                <hr />
                <div class="d-flex justify-content-between px-4">
                    <span>Per Cleaning</span><span class="total-amount fw-bold fs-5">54.00 €</span>
                </div>
                <hr />
                <div class="px-4 pb-4">
                    <div class="d-flex justify-content-between align-items-center" style="color: #1d7a8c;">
                        <span class="fs-4">Total Payment</span><span class="fs-2 total-amount fw-bold">54.00 €</span>
                    </div>
                    <div style="font-size: 14px;">According to § 19 UStG no sales tax is calculated.</div>
                </div>
                <div class="py-2 px-4 smily-div">
                    😊 See what is always included
                </div>

            </div>
        </div>
    </div>
</div>

    @section Scripts{
        <script>
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            $("#Date").attr('min', today);

            document.getElementById("Date").valueAsDate = new Date();
            function GetAddress() {
                var GivenDate = new Date($("#Date").val());
                if (GivenDate <= new Date()) {
                    console.log("Select date first");
                    $("#date-error").html("Service Date must be later than today");
                }
                else {
                    $("#tab3").addClass("color");
                    $("#tab3").siblings().removeClass("active");
                    $(".schedule-plan").css("display", "none");
                    $(".your-details").css("display", "block");
                    $("#tab3").addClass("active");
                    $(".new-address-button").css("display", "inline-block");
                    $("#new-address").css("display", "block");
                    $("#new-address").html("");
                    $("#addresses").html("Loading addresses...").load('@Url.Action("GetUserAddress", "Service")');
                    $("#date-error").html("");
                }

            }

            function newAddress() {
                let ZipCode = document.getElementById("zip").value;
                console.log(ZipCode);
                $(".new-address-button").css("display", "none");
                $("#new-address").html("Loading...").load(`/Service/AddNewAddress/${ZipCode}`);
                console.log("Loading New Address form");
            }

            function CloseNewAddress() {
                $("#new-address").html("");
                $(".new-address-button").css("display", "inline-block");
            }

            function setSchedule() {
                //console.log("setting schedule");
                let date = new Date($("#Date").val());

                var dd = String(date.getDate()).padStart(2, '0');
                var mm = String(date.getMonth() + 1).padStart(2, '0');
                var yyyy = date.getFullYear();

                date = dd + '/' + mm + '/' + yyyy;
                let time = $("#Time").val();
                $("#schedule").html(date + " " + time);
            }

            var extraCharge = 0.00;
            var extraTime = 0;
            var extraService = [];
            var extraCount = 0;
            for (let i = 0; i < 5; i++) {
                extraService[i] = 0;
            }
            function changeCost() {
                //basicHours = parseInt($("#ServiceHours").val());
                basicHours = Math.abs($("#ServiceHours").val());
                $("#basic-hours").html(basicHours + " Hrs");
                //basicCost = Math.abs($("#ServiceHours").val()) * 18.00;
                basicCost = $("#ServiceHours").val() * 18.00;
                $(".total-amount").html(basicCost + extraCharge + " €");
                $("#total-time").html(basicHours + extraTime + " Hrs");
            }

            function AddExtraService(obj) {
                let id = $(obj).attr("data-val");
                //console.log(id);
                if (extraService[id] == 0) {
                    extraCount++;
                    if (extraCount == 1) {
                        $("#extra").css("display", "block");
                    }
                    extraService[id] = 1;
                    extraCharge = extraCharge + 9.00;
                    extraTime = extraTime + 0.5;
                    $("#es" + id).css("display", "block");
                }
                else {
                    extraCount--;
                    if (extraCount == 0) {
                        $("#extra").css("display", "none");
                    }
                    extraService[id] = 0;
                    extraCharge = extraCharge - 9.00;
                    extraTime = extraTime - 0.5;
                    $("#es" + id).css("display", "none");
                }
                changeCost();
            }


        </script>

     }
